* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

html, body {
    height: 100%;
}

@mixin desktop {
    @media (min-width: 48em) {
        @content;
    };
};

body {
    font-size: 100%;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    background-color: $veryLightGray;
    padding: 1rem;
    
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    };
};

.btn {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    background-color: white;
    width: 8.125rem;
    height: 2.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    mix-blend-mode: screen;

    &:hover {
        color: white;
        border: 2px solid white;
        background-color: transparent;
    };
};